data/
.Rproj.user
.Rhistory
.RData
.Ruserdata
checkpoint/
plots/
emissions-pipeline_files/libs
visualizations_files/
emissions-pipeline.rmarkdown
output/
scratch.qmd
.DS_Store
capstone/.DS_Store
capstone/seamissions/.DS_Store
pepper-visualizations.qmd
archive/
flag_id_files/
Trends_vis_files/
fao-sau-comparison_files/
